/*  MICROTHEMER STYLES  */


/*= Conteúdo ================= */

/** Conteúdo >> Uagb block 18a03860 uagb rm title wrap **/
.uagb-block-18a03860 .uagb-rm__title-wrap {
	width: 240px !important;
}

/** Conteúdo >> Uagb block 3df47d95 uagb rm title wrap **/
.uagb-block-3df47d95 .uagb-rm__title-wrap {
	width: 240px !important;
}

/** Conteúdo >> Uagb block 8aea3350 uagb rm title wrap **/
.uagb-block-8aea3350 .uagb-rm__title-wrap {
	width: 240px !important;
}

/** Conteúdo >> Uagb block c961aea9 uagb rm title wrap **/
.uagb-block-c961aea9 .uagb-rm__title-wrap {
	width: 240px !important;
}

/** Conteúdo >> Uagb block 18a03860 uagb rm price **/
.uagb-block-18a03860 .uagb-rm__price {
	width: 97px !important;
}

/** Conteúdo >> Uagb block 3df47d95 uagb rm price **/
.uagb-block-3df47d95 .uagb-rm__price {
	width: 97px !important;
}

/** Conteúdo >> Uagb block 8aea3350 uagb rm price **/
.uagb-block-8aea3350 .uagb-rm__price {
	width: 97px !important;
}

/** Conteúdo >> Uagb block c961aea9 uagb rm price **/
.uagb-block-c961aea9 .uagb-rm__price {
	width: 97px !important;
}

/** Conteúdo >> Cardapiohome uagb rm title wrap **/
.cardapiohome .uagb-rm__title-wrap {
	
}

/** Conteúdo >> Post 16 uagb rm title wrap **/
#post-16 .uagb-rm__title-wrap {
	width: 250px !important;
}

/** Conteúdo >> Post 16 uagb rm price **/
#post-16 .uagb-rm__price {
	width: 100px !important;
}

